@model COPD.Messdaten

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Messdaten</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Patienten.Vorname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patienten.Vorname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Messtypen.TypName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Messtypen.TypName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
